<div class="login_container">

    <div id="login" class="auth_box login-box" style="opacity: 1">

        {{#if error}}
            <p class="login-error">{{error}}</p>
        {{/if}}

        <form action="/auth/password" method="post">
            <div class="input-field ">
                <input name="password" id="password" type="password" class="validate registration_forms" required>
                <label for="password" class="registration_label">Enter your email please</label>
                <span class="helper-text" data-error="wrong"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="userId" value="{{userId}}">
            <input type="hidder" name="token" value="{{token}}">

            <button class="btn-primary btn-registration" type="submit">Reset password</button>
        </form>
    </div>
</div>